

.card-shadow {
    box-shadow: 0 2px 8px 0 rgb(0 0 0 /10%);
    border-radius: 5px;
}

.category-heading{
    padding: 10px 12px;
    border-left: 6px solid #000;
    background-color: #ddd;
}

.post-heading{
    font-size: 26px;
    color: #000;
}

.custom-img-size {
    width: 200px;  /* Ajuste a largura para o tamanho desejado */
    height: 150px; /* Ajuste a altura para o tamanho desejado */
    object-fit: cover;  /* Isso garante que a imagem será cortada para manter a proporção sem deformação */
}
